@media (max-width:480px) {

    .info {}

    .info #temp {
        color: white;
    }

    .info #windspeed {
        color: white;
    }

    .info #msg {
        color: white;
        background-color: rgba(173, 216, 230, 0.336);
    }

    .forecast {
        margin-top: 7vh;
        height: 25vh;
    }
    .forecast .box{
        border: 1px solid lightblue;
    }

}
